/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@200;400&display=swap'); */

@font-face {
    font-family: Audiowide;
    src: url(./fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(./fonts/Montserrat-Light.ttf);
}

.audiowide {
    font-family: Audiowide, cursive;
}

body {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
}

/* change the background color */
.bg-custom {
    background-color: #eee;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nome {
    font-size: 4em;
}

.profissao {
    font-family: Montserrat-ExtraLight;
    font-size: 1.2em;
    font-weight: 100;
    margin-top: -18px;
}

.fonte-cinza {
    color: #555;
}

.periodo {
    position: relative;
}

.titulo {
    font-weight: bold;
}

.destaque {
    color: #BA9E50;
}

a {
    color: #222;
}

a:hover {
    color: #BA9E50;
    text-decoration: none;
}

.btn-custom {
    color: #222;
    background-color: #E0BE60; /*BA9E50*/
    text-decoration: none;
    font-weight: 900;
}

.btn-custom:hover {
    background-color: #BA9E50; 
    color: #222;
}

.descricao {
    font-style: italic;
}

.descricao > ul  {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.descricao > ul > li {
    padding-left: 1em;
    text-indent: -1em;
}

.descricao > ul > li:before {
    content: "-";
    padding-right: 5px;
}

#skills ul {
    padding:0px;
    margin-left:-20px;
    list-style:none;
}

#skills ul li {
    padding: 0px 20px;
    display: inline-block;
}

#skills ul li { display: inline; }

.input-contato {
    height: 47px;
}

.textarea-contato {
    padding-top: 10px;
}

.input-contato-color {
    border-color: #bbb;
}

.input-contato-color:focus {
    outline: none;
    border-color: #E0BE60;
    box-shadow: 0 0 4px #BA9E50;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 30%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}
dd {
    float: left;
    width: 70%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

@media (min-width: 992px) and (min-height: 550px) {
    
    .heigh-screen {
        height: calc(100vh - 32px);
        /* height: 100vh; */
    }
    
}

@media(max-width: 768px){
    .nome {
        font-size: 1.7em;
    }
}

@media(max-width: 992px){
    .center-text {
        text-align: center;
    }

    .profissao {
        margin-top: -10px;
    }

    #skills ul li {
        padding: 2px 20px;
        display: list-item;
    }
}

/* extra small */
@media (max-width: 576px) {
    .nome {
        font-size: 2em;
    }

    .profissao {
        font-size: 1.1em;
    }
}

/* small */
@media (min-width: 576px) and (max-width: 768px) {
    .nome {
        font-size: 2em;
    }

    .profissao {
        font-size: 1.2em;
    }
}

/* medium */
@media(min-width: 768px) and (max-width: 992px) {
    .nome {
        font-size: 2.2em;
    }
}

/* large */
@media(min-width: 992px) and (max-width: 1200px) {
    .nome {
        font-size: 3.5em; 
    }
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }
    
    .bg-custom {
        background-color: #333 !important;
    }

    .destaque {
        color: #E0BE60;
    }

     a {
        color: #ddd;
    }

    .fonte-cinza {
        color: #aaa;
    }

    .input-contato-color,
    .input-contato-color:focus {
        background-color: #222;
        color: #ddd;
    }

}
