@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* @font-face {
    font-family: 'Audiowide';
    src: url('./fonts/Audiowide/Audiowide-Regular.ttf');
} */

/* @font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
} */

.audio-wide-font {
    font-family: 'Audiowide', cursive;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nome {
    font-size: 4em;
}

.profissao {
    font-size: 1.2em;
    font-weight: 200;
    margin-top: -18px;
}

@media (min-width: 992px) and (min-height: 550px) {
    
    .heigh-screen {
        height: calc(100vh - 60px);
    }
    
}

@media(max-width: 768px){
    .nome {
        font-size: 1.7em;
    }

}

@media(max-width: 992px){
    .center-text {
        text-align: center;
    }

    .profissao {
        margin-top: -10px;
    }
}

/* extra small */
@media (max-width: 576px) {
    .nome {
        font-size: 2em;
    }

    .profissao {
        font-size: 1.1em;
    }
}

/* small */
@media (min-width: 576px) and (max-width: 768px) {
    .nome {
        font-size: 2em;
    }

    .profissao {
        font-size: 1.2em;
    }
}

/* medium */
@media(min-width: 768px) and (max-width: 992px) {
    .nome {
        font-size: 2.2em;
    }
}

/* large */
@media(min-width: 992px) and (max-width: 1200px) {
    /* .nome {
        font-size: 3.5em; 
    } */
}

@media(prefers-color-scheme: dark) {
    body,
    footer {
        background-color: #222;
        color: #ddd;
    }
}
